{"openapi":"3.1.0","info":{"title":"Shippo external API.","version":"2018-02-08","x-logo":{"url":"https://docs.goshippo.com/images/shippo-logo.svg"},"contact":{"name":"Shippo Developer Platform","url":"https://goshippo.com/contact/"},"description":"Use this API to integrate with the Shippo service"},"security":[{"APIKeyHeader":[]}],"servers":[{"url":"https://api.goshippo.com"}],"tags":[{"name":"Overview","description":"\u003Cp style=\u0022text-align: center; background-color: #F2F3F4; padding: 16px 24px; border-radius: 4px;\u0022\u003E\n  First-time users and those looking for specific integration tutorials,\n  \u003Ca href=\u0022/shippoapi/public-api/overview\u0022\u003Esee our full API documentation and guides.\u003C/a\u003E\u003Cbr\u003E\n  Download the \u003Ca href=\u0022/spec/shippoapi/public-api.yaml\u0022\u003EAPI Specification yaml file\u003C/a\u003E\n\u003C/p\u003E\n\n\u003Ch3\u003EAPI Resources\u003C/h3\u003E\nAll API URLs listed in this documentation are relative to \u003Cb\u003Ehttps://api.goshippo.com/\u003C/b\u003E.\n\nFor example, the \u0060/addresses/\u0060 resource is reachable at \u0060https://api.goshippo.com/addresses/\u0060.\n\n\n\u003Ch3\u003EAuthentication\u003C/h3\u003E\nThe API requires Shippo\u0027s token HTTP Authentication with your Shippo token (live or test). \n\nIn order to authenticate properly, please put \u0060Authorization: ShippoToken \u003Ctoken\u003E\u0060 in your header. You can find your token on the \n\u003Ca href=\u0022https://goshippo.com/user/apikeys/\u0022\u003EShippo API settings page\u003C/a\u003E.\n\n\n\nFor more information about authentication and test mode, \n\u003Ca href=\u0022https://docs.goshippo.com/docs/guides_general/authentication/\u0022\u003Eplease visit our Authentication guide\u003C/a\u003E.\n\nThe API is available via Secure Socket Layer (SSL) only. All requests to the Shippo API must use TLS version 1.2 or higher.\n\n\u003Ch3\u003ERequest \u0026 Response Data\u003C/h3\u003E\nRequest data is passed to the API by \u003Cb\u003EPOSTing JSON objects\u003C/b\u003E with the appropriate key/value-pairs to the respective \nresource. The documentation for each API resource contains more details on the values accepted by a given resource.\n\nResponse data also formatted as JSON object. You can specify how many results per page are to be returned. For instance, \n\u0060/rates/?results=25\u0060 will return up to 25 results.\n\n\u003Ch3\u003EREST \u0026 Disposable Objects\u003C/h3\u003E\nThe Shippo API is built around \u003Ca href=\u0022http://en.wikipedia.org/wiki/Representational_State_Transfer\u0022\u003EREST principles\u003C/a\u003E. \nUse POST requests to create objects, GET requests to retrieve objects, and PUT requests to update objects.\n\nOnly the Carrier Accounts object can be updated via PUT requests. All other objects such as Addresses, Parcels, \nShipments, Rates, Transactions, Refunds, Customs Items, and Customs Declarations are disposable. This means that \nonce you have created an object, you cannot change it. Instead, create a new one with the desired values.\n\n\u003Ch3\u003EAPI Version\u003C/h3\u003E\n\nThis reference guide supports the Shippo API version: \u00602018-02-08\u0060 . \n\nTo see reference guides for older API versions, see our \u003Ca href=\u0022https://docs.goshippo.com/docs/guides_general/legacy_reference/\u0022\u003Elegacy reference guide\u003C/a\u003E. \nFor more information about Shippo API versions, see our \u003Ca href=\u0022https://docs.goshippo.com/docs/api_concepts/apiversioning/\u0022\u003EAPI versions guide\u003C/a\u003E."},{"name":"Addresses","description":"Addresses are the locations a parcel is being shipped **from** and **to**. They represent company and residential places. Among other things, you can use address objects to create shipments, calculate shipping rates, and purchase shipping labels."},{"name":"Parcels","description":"A parcel is an item you are shipping. The parcel object includes details about its physical make-up of the parcel. It includes dimensions and weight that Shippo uses to calculate rates."},{"name":"Shipments","description":"A shipment is the act of transporting goods. A shipment object contains **to** and **from** addresses, and the parcel details that you are shipping. You can use the shipment object to retrieve shipping rates and purchase a shipping label."},{"name":"Rates","description":"A rate is the cost to ship a parcel from a carrier. The rate object details the service level including the cost and transit time. "},{"name":"Transactions","x-displayName":"Transactions (shipping labels)","description":"A transaction is the purchase of a shipping label from a shipping provider for a specific service. You can print purchased labels and used them to ship a parcel with a carrier, such as USPS or FedEx."},{"name":"Customs Items","description":"Customs declarations are relevant information, including one or multiple customs items, you need to provide for customs clearance for your international shipments."},{"name":"Customs Declarations","description":"Customs declarations are relevant information, including one or multiple customs items, you need to provide for \ncustoms clearance for your international shipments."},{"name":"Refunds","description":"Refunds are reimbursements for successfully created but unused shipping labels or other charges."},{"name":"Manifests","description":"A manifest is a single-page document with a barcode that carriers can scan to accept all packages into transit without the need to scan each item individually.\nThey are close-outs of shipping labels of a certain day. Some carriers require manifests to  process the shipments."},{"name":"Carrier Accounts","description":"Carriers are the companies who deliver your package. Shippo uses Carrier account objects as credentials to retrieve shipping rates and purchase labels from shipping Carriers."},{"name":"Webhooks","description":"Webhooks are a way for Shippo to notify your application when a specific event occurs. For example, when a label is purchased or when a shipment tracking status has changed. You can use webhooks to trigger actions in your application, such as sending an email or updating a database."},{"name":"Tracking Status","description":"\u003Cp style=\u0022text-align: center; background-color: #F2F3F4;\u0022\u003E\u003C/br\u003E\nIf you purchased your shipping label through Shippo, you can also get all the tracking details of your Shipment \nfrom the \u003Ca href=\u0022/shippoapi/public-api/transactions\u0022\u003ETransaction\u003C/a\u003E object.\n\u003C/br\u003E\u003C/br\u003E\u003C/p\u003E\nA tracking status of a package is an indication of current location of a package in the supply chain. For example,  sorting, warehousing, or out for delivery. Use the tracking status object to track the location of your shipments.\n\nWhen using your \u003Ca href=\u0022https://docs.goshippo.com/docs/guides_general/authentication/\u0022\u003ETest\u003C/a\u003E token for tracking, you need to use Shippo\u0027s \npredefined tokens for testing different tracking statuses. You can find more information in our \n\u003Ca href=\u0022https://docs.goshippo.com/docs/tracking/tracking/\u0022\u003ETracking tutorial\u003C/a\u003E on how to do this, and what the \npayloads look like.      "},{"name":"Batches","description":"A batch is a technique for creating multiple labels at once. Use the  batch object to create and purchase many shipments in two API calls. After creating the batch, retrieve the batch to verify that all shipments are valid. You can add and remove shipments after you have created the batch. When all shipments are valid you can purchase the batch and retrieve all the shipping labels."},{"name":"Orders","x-displayName":"Orders (beta)","description":"An order is a request from a customer to purchase goods from a merchant.\nUse the orders object to load orders from your system to the Shippo dashboard.\nYou can use the orders object to create, retrieve, list, and manage orders programmatically.\nYou can also retrieve shipping rates, purchase labels, and track shipments for each order."},{"name":"Pickups","description":"A pickup is when you schedule a carrier to collect a package for delivery.\nUse Shippo\u2019s pickups endpoint to schedule pickups with USPS and DHL Express for eligible shipments that you have already created."},{"name":"Service Groups","description":"A service group is a set of service levels grouped together. \nRates at checkout uses services groups to present available shipping options to customers in their shopping basket."},{"name":"Carrier Parcel Templates","description":"A carrier parcel template represents a package used for shipping that has preset dimensions defined by a carrier. Some examples of a carrier parcel template include USPS Flat Rate Box and Fedex Small Pak. When using a carrier parcel template, the rates returned may be limited to the carrier that provides the box. You can create user parcel templates using a carrier parcel template. Shippo takes the dimensions of the carrier parcel template but you must configure the weight."},{"name":"User Parcel Templates","description":"A user parcel template represents a package used for shipping that has preset dimensions and attributes defined \nby you. They are useful for capturing attributes of parcel-types you frequently use for shipping, allowing \nthem to be defined once and then used for many shipments. These parcel templates can also be used for live rates.\n\nUser parcel templates can also be created using a carrier parcel template, where the dimensions will be copied from \nthe carrier presets, but the weight can be configured by you."},{"name":"Rates at Checkout","description":"Rates at checkout is a tool for merchants to display up-to-date shipping estimates based on what\u0027s in their customers cart and where they\u2019re shipping to.\nMerchants set up curated shipping options for customers in the checkout flow based on data in the shopping cart. The request must include the **to** address and item information. Optional fields are the **from** address and package information. If the optional fields are not included, the service will use the default address and/or package configured for rates at checkout. The response is a list of shipping options based on the Service Group configuration.\n(see \u003Ca href=\u0022/shippoapi/public-api/service-groups\u0022\u003EService Group configuration\u003C/a\u003E for details).\n\n\n\n# Default Parcel Template\nAssign one of your user parcel templates to be the default used when generating Live Rates. This template will be used by default when generating Live Rates, unless you explicitly provide a parcel in the Live Rates request."},{"name":"Carriers","description":"|Token | Carrier name|\n|:---|:---|\n| airterra | Airterra |\n| apc_postal | APC Postal|\n| apg | APG|\n| aramex | Aramex|\n| asendia_us | Asendia US|\n| australia_post | Australia Post (also used for Startrack)|\n| axlehire | Jitsu|\n| better_trucks | BetterTrucks|\n| borderguru | BorderGuru|\n| boxberry | Boxberry|\n| bring | Bring (also used for Posten Norge)|\n| canada_post | Canada Post|\n| chronopost | Chronopost|\n| collect_plus | CollectPlus|\n| correios_br | CorreiosBR|\n| correos_espana | Correos Espa\u00F1a |\n| colissimo | Colissimo|\n| deutsche_post | Deutsche Post|\n| dhl_benelux | DHL Benelux|\n| dhl_ecommerce | DHL eCommerce|\n| dhl_express | DHL Express|\n| dhl_germany_c2c | DHL Germany C2C|\n| dhl_germany | DHL Germany|\n| dpd_de | DPD GERMANY|\n| dpd_uk | DPD UK|\n| estafeta | Estafeta|\n| fastway_australia | Aramex|\n| fedex | FedEx|\n| globegistics | Globegistics (now Asendia)|\n| gls_us | GLS US|\n| gophr | Gophr|\n| gso | GSO|\n| hermes_germany_b2c | Hermes Germany B2C|\n| hermes_uk | Evri UK |\n| hongkong_post | Hongkong Post|\n| lasership | LaserShip|\n| lso | LSO|\n| mondial_relay | Mondial Relay|\n| new_zealand_post | New Zealand Post (also used for Pace and CourierPost)|\n| nippon_express | Nippon Express|\n| ontrac | OnTrac|\n| parcelforce | Parcelforce|\n| passport | Passport|\n| pcf | PCF|\n| poste_italiane | Poste Italiane |\n| posti | Posti|\n| purolator | Purolator|\n| royal_mail | Royal Mail|\n| royal_mail_sf | Royal Mail Storefeeder|\n| rr_donnelley | ePost Global|\n| russian_post | Russian Post|\n| skypostal | SkyPostal|\n| stuart | Stuart|\n| swyft | Swyft|\n| uds | UDS (United Delivery Service)|\n| ups | UPS|\n| usps | USPS|\n| veho | Veho |\n"},{"name":"Service Levels","description":"Service levels represent the shipping service type for each carrier. Use the tokens below when creating shipments.\n\n## USPS Service Levels\n|Token | Service name|\n|:---|:---|\n| usps_priority | Priority Mail|\n| usps_priority_express | Priority Mail Express|\n| usps_media_mail | Media Mail (grandfathered customers only)|\n| usps_priority_mail_international | Priority Mail International|\n| usps_priority_mail_express_international | Priority Mail Express International|\n| usps_first_class_package_international_service | First Class Package International|\n| usps_ground_advantage | Ground Advantage |\n\n## FedEx Service Levels\n|Token | Service name|\n|:---|:---|\n| fedex_ground | FedEx Ground\u00AE|\n| fedex_home_delivery | FedEx Home Delivery\u00AE|\n| fedex_ground_economy | FedEx Ground\u00AE Economy|\n| fedex_2_day | FedEx 2Day\u00AE|\n| fedex_2_day_am | FedEx 2Day\u00AE A.M.|\n| fedex_express_saver | FedEx Express Saver\u00AE|\n| fedex_standard_overnight | FedEx Standard Overnight\u00AE|\n| fedex_priority_overnight | FedEx Priority Overnight\u00AE|\n| fedex_first_overnight | FedEx First Overnight\u00AE|\n| fedex_international_economy | FedEx International Economy\u00AE|\n| fedex_international_priority | FedEx International Priority\u00AE|\n| fedex_international_first | FedEx International First\u00AE|\n| fedex_international_connect_plus | FedEx International Connect Plus|\n\n## UPS Service Levels\n|Token | Service name|\n|:---|:---|\n| ups_standard | UPS Standard|\n| ups_ground | UPS Ground|\n| ups_saver | UPS Saver|\n| ups_3_day_select | UPS 3 Day Select|\n| ups_second_day_air | UPS 2nd Day Air|\n| ups_second_day_air_am | UPS 2nd Day Air A.M.|\n| ups_next_day_air | UPS Next Day Air|\n| ups_next_day_air_saver | UPS Next Day Air Saver|\n| ups_next_day_air_early_am | UPS Next Day Air Early A.M.|\n| ups_express | UPS Express|\n| ups_express_plus | UPS Express Plus|\n| ups_expedited | UPS Expedited|\n\n## Other Supported Carriers\nAdditional service levels are available for: Airterra, APC Postal, APG, Asendia, Australia Post, \nBetter Trucks, Canada Post, Chronopost, Colissimo, Correos Espa\u00F1a, DHL Express, DHL eCommerce, \nDHL Germany, DPD DE, DPD UK, Deutsche Post, Aramex Australia, Globegistics, GLS US, Jitsu, LaserShip, \nLSO, Mondial Relay, OnTrac, Parcelforce, Poste Italiane, ePost Global, Purolator, Royal Mail, \nRoyal Mail Storefeeder, Swyft, UDS, Veho, and Evri UK.\n\nSee the Schemas section for complete service level lists for each carrier.\n"},{"name":"Parcel Templates","description":"A predefined package used by one or multiple carriers. When a template is given, the parcel dimensions \ndo not have to be sent - the dimensions below will instead be used. The parcel weight is not affected \nby the use of a template.\n\n## FedEx Parcel Templates\n|Token | Name | Dimensions|\n|:---|:---|:---|\n| FedEx_Box_10kg | FedEx\u00AE 10kg Box | 15.81 x 12.94 x 10.19 in|\n| FedEx_Box_25kg | FedEx\u00AE 25kg Box | 54.80 x 42.10 x 33.50 in|\n| FedEx_Box_Extra_Large_1 | FedEx\u00AE Extra Large Box (X1) | 11.88 x 11.00 x 10.75 in|\n| FedEx_Box_Extra_Large_2 | FedEx\u00AE Extra Large Box (X2) | 15.75 x 14.13 x 6.00 in|\n| FedEx_Box_Large_1 | FedEx\u00AE Large Box (L1) | 17.50 x 12.38 x 3.00 in|\n| FedEx_Box_Large_2 | FedEx\u00AE Large Box (L2) | 11.25 x 8.75 x 7.75 in|\n| FedEx_Box_Medium_1 | FedEx\u00AE Medium Box (M1) | 13.25 x 11.50 x 2.38 in|\n| FedEx_Box_Medium_2 | FedEx\u00AE Medium Box (M2) | 11.25 x 8.75 x 4.38 in|\n| FedEx_Box_Small_1 | FedEx\u00AE Small Box (S1) | 12.38 x 10.88 x 1.50 in|\n| FedEx_Box_Small_2 | FedEx\u00AE Small Box (S2) | 11.25 x 8.75 x 2.38 in|\n| FedEx_Envelope | FedEx\u00AE Envelope | 12.50 x 9.50 x 0.80 in|\n| FedEx_Padded_Pak | FedEx\u00AE Padded Pak | 11.75 x 14.75 x 2.00 in|\n| FedEx_Pak_1 | FedEx\u00AE Large Pak | 15.50 x 12.00 x 0.80 in|\n| FedEx_Pak_2 | FedEx\u00AE Small Pak | 12.75 x 10.25 x 0.80 in|\n| FedEx_Tube | FedEx\u00AE Tube | 38.00 x 6.00 x 6.00 in|\n| FedEx_XL_Pak | FedEx\u00AE Extra Large Pak | 17.50 x 20.75 x 2.00 in|\n\n## UPS Parcel Templates\n|Token | Name | Dimensions|\n|:---|:---|:---|\n| UPS_Box_10kg | Box 10kg | 410.00 x 335.00 x 265.00 mm|\n| UPS_Box_25kg | Box 25kg | 484.00 x 433.00 x 350.00 mm|\n| UPS_Express_Box | Express Box | 460.00 x 315.00 x 95.00 mm|\n| UPS_Express_Box_Large | Express Box Large | 18.00 x 13.00 x 3.00 in|\n| UPS_Express_Box_Medium | Express Box Medium | 15.00 x 11.00 x 3.00 in|\n| UPS_Express_Box_Small | Express Box Small | 13.00 x 11.00 x 2.00 in|\n| UPS_Express_Envelope | Express Envelope | 12.50 x 9.50 x 2.00 in|\n| UPS_Express_Hard_Pak | Express Hard Pak | 14.75 x 11.50 x 2.00 in|\n| UPS_Express_Legal_Envelope | Express Legal Envelope | 15.00 x 9.50 x 2.00 in|\n| UPS_Express_Pak | Express Pak | 16.00 x 12.75 x 2.00 in|\n| UPS_Express_Tube | Express Tube | 970.00 x 190.00 x 165.00 mm|\n| UPS_Laboratory_Pak | Laboratory Pak | 17.25 x 12.75 x 2.00 in|\n| UPS_Pad_Pak | Pad Pak | 14.75 x 11.00 x 2.00 in|\n\n## USPS Parcel Templates\n|Token | Name | Dimensions|\n|:---|:---|:---|\n| USPS_FlatRateCardboardEnvelope | Flat Rate Cardboard Envelope | 12.50 x 9.50 x 0.75 in|\n| USPS_FlatRateEnvelope | Flat Rate Envelope | 12.50 x 9.50 x 0.75 in|\n| USPS_FlatRateGiftCardEnvelope | Flat Rate Gift Card Envelope | 10.00 x 7.00 x 0.75 in|\n| USPS_FlatRateLegalEnvelope | Flat Rate Legal Envelope | 15.00 x 9.50 x 0.75 in|\n| USPS_FlatRatePaddedEnvelope | Flat Rate Padded Envelope | 12.50 x 9.50 x 1.00 in|\n| USPS_FlatRateWindowEnvelope | Flat Rate Window Envelope | 10.00 x 5.00 x 0.75 in|\n| USPS_LargeFlatRateBoardGameBox | Large Flat Rate Board Game Box | 24.06 x 11.88 x 3.13 in|\n| USPS_LargeFlatRateBox | Large Flat Rate Box | 12.25 x 12.25 x 6.00 in|\n| USPS_APOFlatRateBox | APO/FPO/DPO Large Flat Rate Box | 12.25 x 12.25 x 6.00 in|\n| USPS_MediumFlatRateBox1 | Medium Flat Rate Box 1 | 11.25 x 8.75 x 6.00 in|\n| USPS_MediumFlatRateBox2 | Medium Flat Rate Box 2 | 14.00 x 12.00 x 3.50 in|\n| USPS_RegionalRateBoxA1 | Regional Rate Box A1 | 10.13 x 7.13 x 5.00 in|\n| USPS_RegionalRateBoxA2 | Regional Rate Box A2 | 13.06 x 11.06 x 2.50 in|\n| USPS_RegionalRateBoxB1 | Regional Rate Box B1 | 12.25 x 10.50 x 5.50 in|\n| USPS_RegionalRateBoxB2 | Regional Rate Box B2 | 16.25 x 14.50 x 3.00 in|\n| USPS_SmallFlatRateBox | Small Flat Rate Box | 8.69 x 5.44 x 1.75 in|\n| USPS_SmallFlatRateEnvelope | Small Flat Rate Envelope | 10.00 x 6.00 x 4.00 in|\n\n## Other Carriers\nAdditional parcel templates are available for DHL eCommerce, DPD UK, and Aramex Australia.\nSee the Schemas section for complete template lists.\n"},{"name":"Shippo Accounts","description":"Shippo Accounts are used by Shippo Platform Accounts to create and manage Managed Shippo Accounts. \nManaged Shippo Accounts are headless accounts that represent your customers. They are opaque to your end customers, meaning customers do not need to create their own Shippo login or have a billing relationship with Shippo. \nThey can be used by marketplaces, e-commerce platforms, and third-party logistics providers who want to offer, seamless, built-in shipping functionality to their customers. See our \u003Ca href=\u0022https://docs.goshippo.com/docs/platformaccounts/platform_accounts/\u0022\u003Eguide\u003C/a\u003E for more details."},{"name":"Customs Declaration B13A Filing Option","description":"B13A Option details are obtained by filing a B13A Canada Export Declaration via the Canadian Export Reporting System (CERS). \nMore information on \u003Ca href=\u0022https://www.cbsa-asfc.gc.ca/export/guide-eng.html\u0022\u003Ereporting commercial exports from Canada\u003C/a\u003E.\n\n**Allowed values:**\n- \u0060FILED_ELECTRONICALLY\u0060\n- \u0060SUMMARY_REPORTING\u0060\n- \u0060NOT_REQUIRED\u0060\n"},{"name":"Customs Declaration Contents Type","description":"Type of goods of the shipment.\n\n**Allowed values:**\n- \u0060DOCUMENTS\u0060\n- \u0060GIFT\u0060\n- \u0060SAMPLE\u0060\n- \u0060MERCHANDISE\u0060\n- \u0060HUMANITARIAN_DONATION\u0060\n- \u0060RETURN_MERCHANDISE\u0060\n- \u0060OTHER\u0060\n"},{"name":"Customs Declaration EEL/PFC","description":"EEL / PFC type of the shipment. For most shipments from the US to CA, \u0060NOEEI_30_36\u0060 is applicable; \nfor most other shipments from the US, \u0060NOEEI_30_37_a\u0060 is applicable.\n\n**Allowed values:**\n- \u0060NOEEI_30_37_a\u0060\n- \u0060NOEEI_30_37_h\u0060\n- \u0060NOEEI_30_37_f\u0060\n- \u0060NOEEI_30_36\u0060\n- \u0060AES_ITN\u0060\n"},{"name":"Customs Declaration Incoterm","description":"The incoterm reference of the shipment. FCA is available for DHL Express and FedEx only. \neDAP is available for DPD UK only. DAP is available for DHL Express and DPD UK.\nIf expecting DAP for other carriers, please use DDU.\n\n**Allowed values:**\n- \u0060DDP\u0060\n- \u0060DDU\u0060\n- \u0060FCA\u0060\n- \u0060DAP\u0060\n- \u0060eDAP\u0060\n"},{"name":"Customs Declaration Non Delivery Option","description":"Indicates how the carrier should proceed in case the shipment can\u0027t be delivered.\n\n**Allowed values:**\n- \u0060ABANDON\u0060\n- \u0060RETURN\u0060\n"},{"name":"Address Validation Source","description":"Source of the address validation message.\n\n**Allowed values:**\n- \u0060Shippo Address Validator\u0060\n- \u0060UPS\u0060\n"},{"name":"Address Validation Codes","description":"Validation result codes returned by the address validation service.\n\n**Allowed values:**\n- \u0060verification_error\u0060\n- \u0060unknown_street\u0060\n- \u0060component_mismatch_error\u0060\n- \u0060multiple_match\u0060\n- \u0060sub_premise_number_invalid\u0060\n- \u0060sub_premise_number_missing\u0060\n- \u0060premise_number_invalid\u0060\n- \u0060premise_number_missing\u0060\n- \u0060box_number_invalid\u0060\n- \u0060box_number_missing\u0060\n- \u0060pmb_number_missing\u0060\n- \u0060postal_code_change\u0060\n- \u0060administrative_area_change\u0060\n- \u0060locality_change\u0060\n- \u0060dependent_locality_change\u0060\n- \u0060street_name_change\u0060\n- \u0060street_type_change\u0060\n- \u0060street_directional_change\u0060\n- \u0060sub_premise_type_change\u0060\n- \u0060sub_premise_number_change\u0060\n- \u0060double_dependent_locality_change\u0060\n- \u0060subadministrative_area_change\u0060\n- \u0060subnational_area_change\u0060\n- \u0060po_box_change\u0060\n- \u0060premise_type_change\u0060\n- \u0060house_number_change\u0060\n- \u0060organization_change\u0060\n- \u0060extraneous_information\u0060\n- \u0060usps_door_inaccessible\u0060\n- \u0060administrative_area_partial\u0060\n- \u0060city_partial\u0060\n- \u0060street_partial\u0060\n- \u0060building_partial\u0060\n- \u0060subpremise_partial\u0060\n- \u0060administrative_area_full\u0060\n- \u0060city_full\u0060\n- \u0060thoroughfare_full\u0060\n- \u0060premises_full\u0060\n- \u0060subpremise_full\u0060\n- \u0060geocoded_street\u0060\n- \u0060geocoded_neighborhood\u0060\n- \u0060geocoded_community\u0060\n- \u0060geocoded_state\u0060\n- \u0060geocoded_rooftop\u0060\n- \u0060geocoded_interpolated_rooftop\u0060\n- \u0060invalid_postal_code\u0060\n- \u0060postal_code_not_found\u0060\n- \u0060empty_request\u0060\n- \u0060service_error\u0060\n- \u0060street_detail_missing\u0060\n- \u0060Invalid City/State/Zip\u0060\n- \u0060Default Match\u0060\n- \u0060Unknown Street\u0060\n- \u0060Address Not Found\u0060\n- \u0060Non-Deliverable ZIP4\u0060\n- \u0060Multiple Responses\u0060\n- \u0060Invalid Dual Address\u0060\n- \u0060Invalid State\u0060\n- \u0060Invalid City\u0060\n- \u0060Ambiguous Address\u0060\n"}],"x-tagGroups":[{"name":"API","tags":["Overview"]},{"name":"Addresses","tags":["Addresses"]},{"name":"Parcels","tags":["Parcels","Carrier Parcel Templates","User Parcel Templates"]},{"name":"Shipments","tags":["Shipments","Rates"]},{"name":"Purchase","tags":["Transactions","Batches"]},{"name":"Tracking","tags":["Tracking Status"]},{"name":"Webhooks","tags":["Webhooks"]},{"name":"International Shipping","tags":["Customs Items","Customs Declarations"]},{"name":"Carriers","tags":["Carrier Accounts"]},{"name":"Manifests and pickups","tags":["Manifests","Pickups"]},{"name":"Orders","tags":["Orders"]},{"name":"Billing","tags":["Refunds"]},{"name":"Rates at Checkout","tags":["Service Groups","Rates at Checkout"]},{"name":"Accounts","tags":["Shippo Accounts"]},{"name":"Enums","tags":["Carriers","Service Levels","Parcel Templates","Address Validation Source","Address Validation Codes","Customs Declaration B13A Filing Option","Customs Declaration Contents Type","Customs Declaration EEL/PFC","Customs Declaration Incoterm","Customs Declaration Non Delivery Option"]}],"paths":{"/addresses":{"get":{"description":"Returns a list of all address objects that have been created in this account.","operationId":"ListAddresses","parameters":[{"$ref":"#/components/parameters/PageNumberQueryParam"},{"$ref":"#/components/parameters/ResultsPerPageDefault5QueryParam"},{"$ref":"#/components/parameters/ShippoApiVersionHeader"}],"responses":{"200":{"$ref":"#/components/responses/addressPaginatedResponse"},"400":{"$ref":"#/components/responses/badRequestResponse"}},"summary":"List all addresses","tags":["Addresses"],"x-codeSamples":[{"label":"cURL","lang":"cURL","source":"curl https://api.goshippo.com/addresses/ \\\n -H \u0022Authorization: ShippoToken \u003CAPI_TOKEN\u003E\u0022"},{"lang":"python","label":"Python","source":"import shippo\n\ns = shippo.Shippo(\n    api_key_header=\u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027,\n    shippo_api_version=\u00272018-02-08\u0027,\n)\n\n\nres = s.addresses.list(page=1, results=5)\n\nif res is not None:\n    # handle response\n    pass"},{"lang":"typescript","label":"Typescript","source":"import { Shippo } from \u0022shippo\u0022;\n\nconst shippo = new Shippo({\n  apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n  shippoApiVersion: \u00222018-02-08\u0022,\n});\n\nasync function run() {\n  const result = await shippo.addresses.list(1, 5);\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"php","label":"PHP","source":"declare(strict_types=1);\n\nrequire \u0027vendor/autoload.php\u0027;\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    -\u003EsetSecurity(\n        \u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027\n    )\n    -\u003EsetShippoApiVersion(\u00272018-02-08\u0027)\n    -\u003Ebuild();\n\n\n\n$response = $sdk-\u003Eaddresses-\u003Elist(\n    page: 1,\n    results: 5,\n    shippoApiVersion: \u00272018-02-08\u0027\n\n);\n\nif ($response-\u003EaddressPaginatedList !== null) {\n    // handle response\n}"},{"lang":"csharp","label":"C#","source":"using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\nvar res = await sdk.Addresses.ListAsync(\n    page: 1,\n    results: 5,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\n// handle response"},{"lang":"java","label":"Java","source":"package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.ListAddressesResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n            .build();\n\n        ListAddressesResponse res = sdk.addresses().list()\n                .page(1L)\n                .results(5L)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n                .call();\n\n        if (res.addressPaginatedList().isPresent()) {\n            // handle response\n        }\n    }\n}"}]},"post":{"description":"Creates a new address object. You can use address objects to create new shipments, calculate rates, and to create orders.","operationId":"CreateAddress","parameters":[{"$ref":"#/components/parameters/ShippoApiVersionHeader"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressCreateRequest"}}},"description":"Address details."},"responses":{"201":{"$ref":"#/components/responses/addressResponse"},"400":{"$ref":"#/components/responses/badRequestResponse"}},"summary":"Create a new address","tags":["Addresses"],"x-codeSamples":[{"label":"cURL","lang":"cURL","source":"curl https://api.goshippo.com/addresses/ \\\n  -H \u0022Authorization: ShippoToken \u003CAPI_TOKEN\u003E\u0022 \\\n  -d name=\u0022Shawn Ippotle\u0022 \\\n  -d company=\u0022Shippo\u0022 \\\n  -d street1=\u0022215 Clayton St.\u0022 \\\n  -d street2=\u0022\u0022 \\\n  -d city=\u0022San Francisco\u0022 \\\n  -d state=\u0022CA\u0022 \\\n  -d zip=94117 \\\n  -d country=\u0022US\u0022 \\\n  -d phone=\u0022\u002B1 555 341 9393\u0022 \\\n  -d email=\u0022shippotle@shippo.com\u0022\\\n  -d is_residential=True\\\n  -d metadata=\u0022Customer ID 123456\u0022"},{"lang":"python","label":"Python","source":"import shippo\nfrom shippo.models import components\n\ns = shippo.Shippo(\n    api_key_header=\u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027,\n    shippo_api_version=\u00272018-02-08\u0027,\n)\n\n\nres = s.addresses.create(request=components.AddressCreateRequest(\n    name=\u0027Shwan Ippotle\u0027,\n    company=\u0027Shippo\u0027,\n    street1=\u0027215 Clayton St.\u0027,\n    street3=\u0027\u0027,\n    street_no=\u0027\u0027,\n    city=\u0027San Francisco\u0027,\n    state=\u0027CA\u0027,\n    zip=\u002794117\u0027,\n    country=\u0027US\u0027,\n    phone=\u0027\u002B1 555 341 9393\u0027,\n    email=\u0027shippotle@shippo.com\u0027,\n    is_residential=True,\n    metadata=\u0027Customer ID 123456\u0027,\n    validate=True,\n))\n\nif res is not None:\n    # handle response\n    pass"},{"lang":"typescript","label":"Typescript","source":"import { Shippo } from \u0022shippo\u0022;\n\nconst shippo = new Shippo({\n  apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n  shippoApiVersion: \u00222018-02-08\u0022,\n});\n\nasync function run() {\n  const result = await shippo.addresses.create({\n    name: \u0022Shwan Ippotle\u0022,\n    company: \u0022Shippo\u0022,\n    street1: \u0022215 Clayton St.\u0022,\n    street3: \u0022\u0022,\n    streetNo: \u0022\u0022,\n    city: \u0022San Francisco\u0022,\n    state: \u0022CA\u0022,\n    zip: \u002294117\u0022,\n    country: \u0022US\u0022,\n    phone: \u0022\u002B1 555 341 9393\u0022,\n    email: \u0022shippotle@shippo.com\u0022,\n    isResidential: true,\n    metadata: \u0022Customer ID 123456\u0022,\n    validate: true,\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"php","label":"PHP","source":"declare(strict_types=1);\n\nrequire \u0027vendor/autoload.php\u0027;\n\nuse Shippo\\API;\nuse Shippo\\API\\Models\\Components;\n\n$sdk = API\\Shippo::builder()\n    -\u003EsetSecurity(\n        \u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027\n    )\n    -\u003EsetShippoApiVersion(\u00272018-02-08\u0027)\n    -\u003Ebuild();\n\n$addressCreateRequest = new Components\\AddressCreateRequest(\n    name: \u0027Shwan Ippotle\u0027,\n    company: \u0027Shippo\u0027,\n    street1: \u0027215 Clayton St.\u0027,\n    street3: \u0027\u0027,\n    streetNo: \u0027\u0027,\n    city: \u0027San Francisco\u0027,\n    state: \u0027CA\u0027,\n    zip: \u002794117\u0027,\n    country: \u0027US\u0027,\n    phone: \u0027\u002B1 555 341 9393\u0027,\n    email: \u0027shippotle@shippo.com\u0027,\n    isResidential: true,\n    metadata: \u0027Customer ID 123456\u0027,\n    validate: true,\n);\n\n$response = $sdk-\u003Eaddresses-\u003Ecreate(\n    addressCreateRequest: $addressCreateRequest,\n    shippoApiVersion: \u00272018-02-08\u0027\n\n);\n\nif ($response-\u003Eaddress !== null) {\n    // handle response\n}"},{"lang":"csharp","label":"C#","source":"using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\nvar res = await sdk.Addresses.CreateAsync(\n    addressCreateRequest: new AddressCreateRequest() {\n        Name = \u0022Shwan Ippotle\u0022,\n        Company = \u0022Shippo\u0022,\n        Street1 = \u0022215 Clayton St.\u0022,\n        Street3 = \u0022\u0022,\n        StreetNo = \u0022\u0022,\n        City = \u0022San Francisco\u0022,\n        State = \u0022CA\u0022,\n        Zip = \u002294117\u0022,\n        Country = \u0022US\u0022,\n        Phone = \u0022\u002B1 555 341 9393\u0022,\n        Email = \u0022shippotle@shippo.com\u0022,\n        IsResidential = true,\n        Metadata = \u0022Customer ID 123456\u0022,\n        Validate = true,\n    },\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\n// handle response"},{"lang":"java","label":"Java","source":"package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.components.AddressCreateRequest;\nimport com.goshippo.shippo_sdk.models.operations.CreateAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n            .build();\n\n        CreateAddressResponse res = sdk.addresses().create()\n                .shippoApiVersion(\u00222018-02-08\u0022)\n                .addressCreateRequest(AddressCreateRequest.builder()\n                    .country(\u0022US\u0022)\n                    .name(\u0022Shwan Ippotle\u0022)\n                    .company(\u0022Shippo\u0022)\n                    .street1(\u0022215 Clayton St.\u0022)\n                    .street3(\u0022\u0022)\n                    .streetNo(\u0022\u0022)\n                    .city(\u0022San Francisco\u0022)\n                    .state(\u0022CA\u0022)\n                    .zip(\u002294117\u0022)\n                    .phone(\u0022\u002B1 555 341 9393\u0022)\n                    .email(\u0022shippotle@shippo.com\u0022)\n                    .isResidential(true)\n                    .metadata(\u0022Customer ID 123456\u0022)\n                    .validate(true)\n                    .build())\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"}]}},"/addresses/{AddressId}":{"get":{"description":"Returns an existing address using an object ID.","operationId":"GetAddress","parameters":[{"description":"Object ID of the address","in":"path","name":"AddressId","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/ShippoApiVersionHeader"}],"responses":{"200":{"$ref":"#/components/responses/addressResponse"},"400":{"$ref":"#/components/responses/badRequestResponse"}},"summary":"Retrieve an address","tags":["Addresses"],"x-codeSamples":[{"label":"cURL","lang":"cURL","source":"curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/ \\\n  -H \u0022Authorization: ShippoToken \u003CAPI_TOKEN\u003E\u0022"},{"lang":"python","label":"Python","source":"import shippo\n\ns = shippo.Shippo(\n    api_key_header=\u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027,\n    shippo_api_version=\u00272018-02-08\u0027,\n)\n\n\nres = s.addresses.get(address_id=\u0027\u003Cid\u003E\u0027)\n\nif res is not None:\n    # handle response\n    pass"},{"lang":"typescript","label":"Typescript","source":"import { Shippo } from \u0022shippo\u0022;\n\nconst shippo = new Shippo({\n  apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n  shippoApiVersion: \u00222018-02-08\u0022,\n});\n\nasync function run() {\n  const result = await shippo.addresses.get(\u0022\u003Cid\u003E\u0022);\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"php","label":"PHP","source":"declare(strict_types=1);\n\nrequire \u0027vendor/autoload.php\u0027;\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    -\u003EsetSecurity(\n        \u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027\n    )\n    -\u003EsetShippoApiVersion(\u00272018-02-08\u0027)\n    -\u003Ebuild();\n\n\n\n$response = $sdk-\u003Eaddresses-\u003Eget(\n    addressId: \u0027\u003Cid\u003E\u0027,\n    shippoApiVersion: \u00272018-02-08\u0027\n\n);\n\nif ($response-\u003Eaddress !== null) {\n    // handle response\n}"},{"lang":"csharp","label":"C#","source":"using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\nvar res = await sdk.Addresses.GetAsync(\n    addressId: \u0022\u003Cid\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\n// handle response"},{"lang":"java","label":"Java","source":"package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.GetAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n            .build();\n\n        GetAddressResponse res = sdk.addresses().get()\n                .addressId(\u0022\u003Cid\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"}]}},"/addresses/{AddressId}/validate":{"get":{"description":"Validates an existing address using an object ID","operationId":"ValidateAddress","parameters":[{"description":"Object ID of the address","in":"path","name":"AddressId","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/ShippoApiVersionHeader"}],"responses":{"200":{"$ref":"#/components/responses/addressResponse"},"400":{"$ref":"#/components/responses/badRequestResponse"}},"summary":"Validate an address","tags":["Addresses"],"x-codeSamples":[{"label":"cURL","lang":"cURL","source":"curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/validate/ \\\n  -H \u0022Authorization: ShippoToken \u003CAPI_TOKEN\u003E\u0022"},{"lang":"python","label":"Python","source":"import shippo\n\ns = shippo.Shippo(\n    api_key_header=\u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027,\n    shippo_api_version=\u00272018-02-08\u0027,\n)\n\n\nres = s.addresses.validate(address_id=\u0027\u003Cid\u003E\u0027)\n\nif res is not None:\n    # handle response\n    pass"},{"lang":"typescript","label":"Typescript","source":"import { Shippo } from \u0022shippo\u0022;\n\nconst shippo = new Shippo({\n  apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n  shippoApiVersion: \u00222018-02-08\u0022,\n});\n\nasync function run() {\n  const result = await shippo.addresses.validate(\u0022\u003Cid\u003E\u0022);\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"php","label":"PHP","source":"declare(strict_types=1);\n\nrequire \u0027vendor/autoload.php\u0027;\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    -\u003EsetSecurity(\n        \u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027\n    )\n    -\u003EsetShippoApiVersion(\u00272018-02-08\u0027)\n    -\u003Ebuild();\n\n\n\n$response = $sdk-\u003Eaddresses-\u003Evalidate(\n    addressId: \u0027\u003Cid\u003E\u0027,\n    shippoApiVersion: \u00272018-02-08\u0027\n\n);\n\nif ($response-\u003Eaddress !== null) {\n    // handle response\n}"},{"lang":"csharp","label":"C#","source":"using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\nvar res = await sdk.Addresses.ValidateAsync(\n    addressId: \u0022\u003Cid\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\n// handle response"},{"lang":"java","label":"Java","source":"package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.ValidateAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n            .build();\n\n        ValidateAddressResponse res = sdk.addresses().validate()\n                .addressId(\u0022\u003Cid\u003E\u0022)\n                .shippoApiVersion(\u00222018-02-08\u0022)\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"}],"x-speakeasy-name-override":"validate"}},"/batches":{"post":{"description":"Creates a new batch object for purchasing shipping labels for many shipments at once. Batches are created asynchronously. This means that the API response won\u0027t include your batch shipments yet. You need to retrieve the batch later to verify that all batch shipments are valid.","operationId":"CreateBatch","parameters":[{"$ref":"#/components/parameters/ShippoApiVersionHeader"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCreateRequest"}}},"description":"Batch details."},"responses":{"201":{"$ref":"#/components/responses/batchResponse"},"400":{"$ref":"#/components/responses/badRequestResponse"}},"summary":"Create a batch","tags":["Batches"],"x-codeSamples":[{"label":"cURL","lang":"cURL","source":"curl https://api.goshippo.com/batches/  \\\n-H \u0022Authorization: ShippoToken \u003CAPI_TOKEN\u003E\u0022 \\\n-H \u0022Content-Type: application/json\u0022  \\\n-d \u0027{\n      \u0022default_carrier_account\u0022: \u0022078870331023437cb917f5187429b093\u0022,\n      \u0022default_servicelevel_token\u0022: \u0022usps_priority\u0022,\n      \u0022label_filetype\u0022: \u0022PDF_4x6\u0022,\n      \u0022metadata\u0022: \u0022BATCH #170\u0022,\n      \u0022batch_shipments\u0022: [\n        {\n          \u0022shipment\u0022: {    \n            \u0022address_from\u0022: {\n              \u0022name\u0022: \u0022Mr Hippo\u0022,\n              \u0022street1\u0022: \u0022965 Mission St\u0022,\n              \u0022street2\u0022: \u0022Ste 201\u0022,\n              \u0022city\u0022: \u0022San Francisco\u0022,\n              \u0022state\u0022: \u0022CA\u0022,\n              \u0022zip\u0022: \u002294103\u0022,\n              \u0022country\u0022: \u0022US\u0022,\n              \u0022phone\u0022: \u00224151234567\u0022,\n              \u0022email\u0022: \u0022mrhippo@shippo.com\u0022\n            },\n            \u0022address_to\u0022: {\n              \u0022name\u0022: \u0022Mrs Hippo\u0022,\n              \u0022company\u0022: \u0022\u0022,\n              \u0022street1\u0022: \u0022Broadway 1\u0022,\n              \u0022street2\u0022: \u0022\u0022,\n              \u0022city\u0022: \u0022New York\u0022,\n              \u0022state\u0022: \u0022NY\u0022,\n              \u0022zip\u0022: \u002210007\u0022,\n              \u0022country\u0022: \u0022US\u0022,\n              \u0022phone\u0022: \u00224151234567\u0022,\n              \u0022email\u0022: \u0022mrshippo@shippo.com\u0022\n            },\n            \u0022parcels\u0022: [{\n              \u0022length\u0022: \u00225\u0022,\n              \u0022width\u0022: \u00225\u0022,\n              \u0022height\u0022: \u00225\u0022,\n              \u0022distance_unit\u0022: \u0022in\u0022,\n              \u0022weight\u0022: \u00222\u0022,\n              \u0022mass_unit\u0022: \u0022oz\u0022\n            }]\n          }\n        },\n        {\n          \u0022shipment\u0022: {    \n            \u0022address_from\u0022: {\n              \u0022name\u0022: \u0022Mr Hippo\u0022,\n              \u0022street1\u0022: \u00221092 Indian Summer Ct\u0022,\n              \u0022city\u0022: \u0022San Jose\u0022,\n              \u0022state\u0022: \u0022CA\u0022,\n              \u0022zip\u0022: \u002295122\u0022,\n              \u0022country\u0022: \u0022US\u0022,\n              \u0022phone\u0022: \u00224151234567\u0022,\n              \u0022email\u0022: \u0022mrhippo@shippo.com\u0022\n            },\n            \u0022address_to\u0022: {\n              \u0022name\u0022: \u0022Mrs Hippo\u0022,\n              \u0022company\u0022: \u0022\u0022,\n              \u0022street1\u0022: \u0022Broadway 1\u0022,\n              \u0022street2\u0022: \u0022\u0022,\n              \u0022city\u0022: \u0022New York\u0022,\n              \u0022state\u0022: \u0022NY\u0022,\n              \u0022zip\u0022: \u002210007\u0022,\n              \u0022country\u0022: \u0022US\u0022,\n              \u0022phone\u0022: \u00224151234567\u0022,\n              \u0022email\u0022: \u0022mrshippo@shippo.com\u0022\n            },\n            \u0022parcels\u0022: [{\n              \u0022length\u0022: \u00225\u0022,\n              \u0022width\u0022: \u00225\u0022,\n              \u0022height\u0022: \u00225\u0022,\n              \u0022distance_unit\u0022: \u0022in\u0022,\n              \u0022weight\u0022: \u002220\u0022,\n              \u0022mass_unit\u0022: \u0022lb\u0022\n            }]\n          },\n          \u0022carrier_account\u0022: \u0022a4391cd4ab974f478f55dc08b5c8e3b3\u0022,\n          \u0022servicelevel_token\u0022: \u0022fedex_2_day\u0022\n        }\n      ]\n    }\u0027 "},{"lang":"python","label":"Python","source":"import shippo\nfrom shippo.models import components\n\ns = shippo.Shippo(\n    api_key_header=\u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027,\n    shippo_api_version=\u00272018-02-08\u0027,\n)\n\n\nres = s.batches.create(request=components.BatchCreateRequest(\n    default_carrier_account=\u0027078870331023437cb917f5187429b093\u0027,\n    default_servicelevel_token=\u0027usps_priority\u0027,\n    label_filetype=components.LabelFileTypeEnum.PDF_4X6,\n    metadata=\u0027BATCH #1\u0027,\n    batch_shipments=[\n        components.BatchShipmentCreateRequest(\n            carrier_account=\u0027a4391cd4ab974f478f55dc08b5c8e3b3\u0027,\n            metadata=\u0027SHIPMENT #1\u0027,\n            servicelevel_token=\u0027fedex_ground\u0027,\n            shipment=components.ShipmentCreateRequest(\n                extra=components.ShipmentExtra(\n                    accounts_receivable_customer_account=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    appropriation_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    bill_of_lading_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    cod=components.Cod(\n                        amount=\u00275.5\u0027,\n                        currency=\u0027USD\u0027,\n                        payment_method=components.PaymentMethod.CASH,\n                    ),\n                    cod_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    customer_reference=components.CustomerReference(\n                        ref_sort=1,\n                    ),\n                    dealer_order_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    dept_number=components.DepartmentNumber(\n                        ref_sort=3,\n                    ),\n                    fda_product_code=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    insurance=components.Insurance(\n                        amount=\u00275.5\u0027,\n                        currency=\u0027USD\u0027,\n                    ),\n                    invoice_number=components.InvoiceNumber(\n                        ref_sort=2,\n                    ),\n                    manifest_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    model_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    part_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    po_number=components.PoNumber(\n                        ref_sort=2,\n                    ),\n                    production_code=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    purchase_request_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    rma_number=components.RmaNumber(\n                        ref_sort=1,\n                    ),\n                    salesperson_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    serial_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    store_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                    transaction_reference_number=components.UPSReferenceFields(\n                        prefix=\u0027ABC\u0027,\n                        value=\u0027value\u0027,\n                        ref_sort=1,\n                    ),\n                ),\n                metadata=\u0027Customer ID 123456\u0027,\n                shipment_date=\u00272021-03-22T12:00:00Z\u0027,\n                address_from=\u0027d799c2679e644279b59fe661ac8fa488\u0027,\n                address_return=components.AddressCreateRequest(\n                    name=\u0027Shwan Ippotle\u0027,\n                    company=\u0027Shippo\u0027,\n                    street1=\u0027215 Clayton St.\u0027,\n                    street3=\u0027\u0027,\n                    street_no=\u0027\u0027,\n                    city=\u0027San Francisco\u0027,\n                    state=\u0027CA\u0027,\n                    zip=\u002794117\u0027,\n                    country=\u0027US\u0027,\n                    phone=\u0027\u002B1 555 341 9393\u0027,\n                    email=\u0027shippotle@shippo.com\u0027,\n                    is_residential=True,\n                    metadata=\u0027Customer ID 123456\u0027,\n                    validate=True,\n                ),\n                address_to=components.AddressCreateRequest(\n                    name=\u0027Shwan Ippotle\u0027,\n                    company=\u0027Shippo\u0027,\n                    street1=\u0027215 Clayton St.\u0027,\n                    street3=\u0027\u0027,\n                    street_no=\u0027\u0027,\n                    city=\u0027San Francisco\u0027,\n                    state=\u0027CA\u0027,\n                    zip=\u002794117\u0027,\n                    country=\u0027US\u0027,\n                    phone=\u0027\u002B1 555 341 9393\u0027,\n                    email=\u0027shippotle@shippo.com\u0027,\n                    is_residential=True,\n                    metadata=\u0027Customer ID 123456\u0027,\n                    validate=True,\n                ),\n                customs_declaration=components.CustomsDeclarationCreateRequest(\n                    b13a_filing_option=components.CustomsDeclarationB13AFilingOptionEnum.FILED_ELECTRONICALLY,\n                    certify=True,\n                    certify_signer=\u0027Shawn Ippotle\u0027,\n                    contents_explanation=\u0027T-Shirt purchase\u0027,\n                    duties_payor=components.DutiesPayor(\n                        account=\u00272323434543\u0027,\n                        type=components.CustomsDeclarationCreateRequestType.THIRD_PARTY,\n                        address=components.CustomsDeclarationCreateRequestAddress(\n                            name=\u0027Patrick Kavanagh\u0027,\n                            zip=\u002780331\u0027,\n                            country=\u0027DE\u0027,\n                        ),\n                    ),\n                    exporter_identification=components.CustomsExporterIdentification(\n                        eori_number=\u0027PL123456790ABCDE\u0027,\n                        tax_id=components.CustomsTaxIdentification(\n                            number=\u0027123456789\u0027,\n                            type=components.CustomsTaxIdentificationType.EIN,\n                        ),\n                    ),\n                    invoice=\u0027#123123\u0027,\n                    metadata=\u0027Order ID #123123\u0027,\n                    address_importer=components.AddressImporter(\n                        name=\u0027Shwan Ippotle\u0027,\n                        company=\u0027Shippo\u0027,\n                        street1=\u0027Blumenstra\u00DFe\u0027,\n                        street3=\u0027\u0027,\n                        street_no=\u002722\u0027,\n                        city=\u0027M\u00FCnchen\u0027,\n                        state=\u0027CA\u0027,\n                        zip=\u002780331\u0027,\n                        country=\u0027DE\u0027,\n                        phone=\u002780331\u0027,\n                        email=\u0027shippotle@shippo.com\u0027,\n                        is_residential=True,\n                    ),\n                    contents_type=components.CustomsDeclarationContentsTypeEnum.MERCHANDISE,\n                    eel_pfc=components.CustomsDeclarationEelPfcEnum.NOEEI_30_37_A,\n                    incoterm=components.CustomsDeclarationIncotermEnum.DDP,\n                    items=[\n                        components.CustomsItemCreateRequest(\n                            description=\u0027T-Shirt\u0027,\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata=\u0027Order ID \u0022123454\u0022\u0027,\n                            net_weight=\u00275\u0027,\n                            origin_country=\u0027\u003Cvalue\u003E\u0027,\n                            quantity=20,\n                            sku_code=\u0027HM-123\u0027,\n                            hs_code=\u00270901.21\u0027,\n                            value_amount=\u0027200\u0027,\n                            value_currency=\u0027USD\u0027,\n                        ),\n                        components.CustomsItemCreateRequest(\n                            description=\u0027T-Shirt\u0027,\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata=\u0027Order ID \u0022123454\u0022\u0027,\n                            net_weight=\u00275\u0027,\n                            origin_country=\u0027\u003Cvalue\u003E\u0027,\n                            quantity=20,\n                            sku_code=\u0027HM-123\u0027,\n                            hs_code=\u00270901.21\u0027,\n                            value_amount=\u0027200\u0027,\n                            value_currency=\u0027USD\u0027,\n                        ),\n                        components.CustomsItemCreateRequest(\n                            description=\u0027T-Shirt\u0027,\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata=\u0027Order ID \u0022123454\u0022\u0027,\n                            net_weight=\u00275\u0027,\n                            origin_country=\u0027\u003Cvalue\u003E\u0027,\n                            quantity=20,\n                            sku_code=\u0027HM-123\u0027,\n                            hs_code=\u00270901.21\u0027,\n                            value_amount=\u0027200\u0027,\n                            value_currency=\u0027USD\u0027,\n                        ),\n                    ],\n                    non_delivery_option=components.CustomsDeclarationNonDeliveryOptionEnum.RETURN,\n                    test=True,\n                ),\n                carrier_accounts=[\n                    \u0027065a4a8c10d24a34ab932163a1b87f52\u0027,\n                    \u002773f706f4bdb94b54a337563840ce52b0\u0027,\n                ],\n                parcels=[\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount=\u00275.5\u0027,\n                                currency=\u0027USD\u0027,\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount=\u00275.5\u0027,\n                                content=\u0027Laptop\u0027,\n                                currency=\u0027USD\u0027,\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata=\u0027Customer ID 123456\u0027,\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight=\u00271\u0027,\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height=\u00271\u0027,\n                        length=\u00271\u0027,\n                        width=\u00271\u0027,\n                    ),\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount=\u00275.5\u0027,\n                                currency=\u0027USD\u0027,\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount=\u00275.5\u0027,\n                                content=\u0027Laptop\u0027,\n                                currency=\u0027USD\u0027,\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata=\u0027Customer ID 123456\u0027,\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight=\u00271\u0027,\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height=\u00271\u0027,\n                        length=\u00271\u0027,\n                        width=\u00271\u0027,\n                    ),\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount=\u00275.5\u0027,\n                                currency=\u0027USD\u0027,\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount=\u00275.5\u0027,\n                                content=\u0027Laptop\u0027,\n                                currency=\u0027USD\u0027,\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata=\u0027Customer ID 123456\u0027,\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight=\u00271\u0027,\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height=\u00271\u0027,\n                        length=\u00271\u0027,\n                        width=\u00271\u0027,\n                    ),\n                ],\n            ),\n        ),\n    ],\n))\n\nif res is not None:\n    # handle response\n    pass"},{"lang":"typescript","label":"Typescript","source":"import { Shippo } from \u0022shippo\u0022;\n\nconst shippo = new Shippo({\n  apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n  shippoApiVersion: \u00222018-02-08\u0022,\n});\n\nasync function run() {\n  const result = await shippo.batches.create({\n    defaultCarrierAccount: \u0022078870331023437cb917f5187429b093\u0022,\n    defaultServicelevelToken: \u0022usps_priority\u0022,\n    labelFiletype: \u0022PDF_4x6\u0022,\n    metadata: \u0022BATCH #1\u0022,\n    batchShipments: [\n      {\n        carrierAccount: \u0022a4391cd4ab974f478f55dc08b5c8e3b3\u0022,\n        metadata: \u0022SHIPMENT #1\u0022,\n        servicelevelToken: \u0022fedex_ground\u0022,\n        shipment: {\n          extra: {\n            accountsReceivableCustomerAccount: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            appropriationNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            billOfLadingNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            cod: {\n              amount: \u00225.5\u0022,\n              currency: \u0022USD\u0022,\n              paymentMethod: \u0022CASH\u0022,\n            },\n            codNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            customerReference: {\n              refSort: 1,\n            },\n            dealerOrderNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            deptNumber: {\n              refSort: 3,\n            },\n            fdaProductCode: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            insurance: {\n              amount: \u00225.5\u0022,\n              currency: \u0022USD\u0022,\n            },\n            invoiceNumber: {\n              refSort: 2,\n            },\n            manifestNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            modelNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            partNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            poNumber: {\n              refSort: 2,\n            },\n            productionCode: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            purchaseRequestNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            rmaNumber: {\n              refSort: 1,\n            },\n            salespersonNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            serialNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            storeNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n            transactionReferenceNumber: {\n              prefix: \u0022ABC\u0022,\n              value: \u0022value\u0022,\n              refSort: 1,\n            },\n          },\n          metadata: \u0022Customer ID 123456\u0022,\n          shipmentDate: \u00222021-03-22T12:00:00Z\u0022,\n          addressFrom: \u0022d799c2679e644279b59fe661ac8fa488\u0022,\n          addressReturn: {\n            name: \u0022Shwan Ippotle\u0022,\n            company: \u0022Shippo\u0022,\n            street1: \u0022215 Clayton St.\u0022,\n            street3: \u0022\u0022,\n            streetNo: \u0022\u0022,\n            city: \u0022San Francisco\u0022,\n            state: \u0022CA\u0022,\n            zip: \u002294117\u0022,\n            country: \u0022US\u0022,\n            phone: \u0022\u002B1 555 341 9393\u0022,\n            email: \u0022shippotle@shippo.com\u0022,\n            isResidential: true,\n            metadata: \u0022Customer ID 123456\u0022,\n            validate: true,\n          },\n          addressTo: {\n            name: \u0022Shwan Ippotle\u0022,\n            company: \u0022Shippo\u0022,\n            street1: \u0022215 Clayton St.\u0022,\n            street3: \u0022\u0022,\n            streetNo: \u0022\u0022,\n            city: \u0022San Francisco\u0022,\n            state: \u0022CA\u0022,\n            zip: \u002294117\u0022,\n            country: \u0022US\u0022,\n            phone: \u0022\u002B1 555 341 9393\u0022,\n            email: \u0022shippotle@shippo.com\u0022,\n            isResidential: true,\n            metadata: \u0022Customer ID 123456\u0022,\n            validate: true,\n          },\n          customsDeclaration: {\n            b13aFilingOption: \u0022FILED_ELECTRONICALLY\u0022,\n            certify: true,\n            certifySigner: \u0022Shawn Ippotle\u0022,\n            contentsExplanation: \u0022T-Shirt purchase\u0022,\n            dutiesPayor: {\n              account: \u00222323434543\u0022,\n              type: \u0022THIRD_PARTY\u0022,\n              address: {\n                name: \u0022Patrick Kavanagh\u0022,\n                zip: \u002280331\u0022,\n                country: \u0022DE\u0022,\n              },\n            },\n            exporterIdentification: {\n              eoriNumber: \u0022PL123456790ABCDE\u0022,\n              taxId: {\n                number: \u0022123456789\u0022,\n                type: \u0022EIN\u0022,\n              },\n            },\n            invoice: \u0022#123123\u0022,\n            metadata: \u0022Order ID #123123\u0022,\n            addressImporter: {\n              name: \u0022Shwan Ippotle\u0022,\n              company: \u0022Shippo\u0022,\n              street1: \u0022Blumenstra\u00DFe\u0022,\n              street3: \u0022\u0022,\n              streetNo: \u002222\u0022,\n              city: \u0022M\u00FCnchen\u0022,\n              state: \u0022CA\u0022,\n              zip: \u002280331\u0022,\n              country: \u0022DE\u0022,\n              phone: \u002280331\u0022,\n              email: \u0022shippotle@shippo.com\u0022,\n              isResidential: true,\n            },\n            contentsType: \u0022MERCHANDISE\u0022,\n            eelPfc: \u0022NOEEI_30_37_a\u0022,\n            incoterm: \u0022DDP\u0022,\n            items: [\n              {\n                description: \u0022T-Shirt\u0022,\n                massUnit: \u0022lb\u0022,\n                metadata: \u0022Order ID \\\u0022123454\\\u0022\u0022,\n                netWeight: \u00225\u0022,\n                originCountry: \u0022\u003Cvalue\u003E\u0022,\n                quantity: 20,\n                skuCode: \u0022HM-123\u0022,\n                hsCode: \u00220901.21\u0022,\n                valueAmount: \u0022200\u0022,\n                valueCurrency: \u0022USD\u0022,\n              },\n              {\n                description: \u0022T-Shirt\u0022,\n                massUnit: \u0022lb\u0022,\n                metadata: \u0022Order ID \\\u0022123454\\\u0022\u0022,\n                netWeight: \u00225\u0022,\n                originCountry: \u0022\u003Cvalue\u003E\u0022,\n                quantity: 20,\n                skuCode: \u0022HM-123\u0022,\n                hsCode: \u00220901.21\u0022,\n                valueAmount: \u0022200\u0022,\n                valueCurrency: \u0022USD\u0022,\n              },\n              {\n                description: \u0022T-Shirt\u0022,\n                massUnit: \u0022lb\u0022,\n                metadata: \u0022Order ID \\\u0022123454\\\u0022\u0022,\n                netWeight: \u00225\u0022,\n                originCountry: \u0022\u003Cvalue\u003E\u0022,\n                quantity: 20,\n                skuCode: \u0022HM-123\u0022,\n                hsCode: \u00220901.21\u0022,\n                valueAmount: \u0022200\u0022,\n                valueCurrency: \u0022USD\u0022,\n              },\n            ],\n            nonDeliveryOption: \u0022RETURN\u0022,\n            test: true,\n          },\n          carrierAccounts: [\n            \u0022065a4a8c10d24a34ab932163a1b87f52\u0022,\n            \u002273f706f4bdb94b54a337563840ce52b0\u0022,\n          ],\n          parcels: [\n            {\n              extra: {\n                cod: {\n                  amount: \u00225.5\u0022,\n                  currency: \u0022USD\u0022,\n                  paymentMethod: \u0022CASH\u0022,\n                },\n                insurance: {\n                  amount: \u00225.5\u0022,\n                  content: \u0022Laptop\u0022,\n                  currency: \u0022USD\u0022,\n                  provider: \u0022UPS\u0022,\n                },\n              },\n              metadata: \u0022Customer ID 123456\u0022,\n              massUnit: \u0022lb\u0022,\n              weight: \u00221\u0022,\n              distanceUnit: \u0022in\u0022,\n              height: \u00221\u0022,\n              length: \u00221\u0022,\n              width: \u00221\u0022,\n            },\n            {\n              extra: {\n                cod: {\n                  amount: \u00225.5\u0022,\n                  currency: \u0022USD\u0022,\n                  paymentMethod: \u0022CASH\u0022,\n                },\n                insurance: {\n                  amount: \u00225.5\u0022,\n                  content: \u0022Laptop\u0022,\n                  currency: \u0022USD\u0022,\n                  provider: \u0022UPS\u0022,\n                },\n              },\n              metadata: \u0022Customer ID 123456\u0022,\n              massUnit: \u0022lb\u0022,\n              weight: \u00221\u0022,\n              distanceUnit: \u0022in\u0022,\n              height: \u00221\u0022,\n              length: \u00221\u0022,\n              width: \u00221\u0022,\n            },\n            {\n              extra: {\n                cod: {\n                  amount: \u00225.5\u0022,\n                  currency: \u0022USD\u0022,\n                  paymentMethod: \u0022CASH\u0022,\n                },\n                insurance: {\n                  amount: \u00225.5\u0022,\n                  content: \u0022Laptop\u0022,\n                  currency: \u0022USD\u0022,\n                  provider: \u0022UPS\u0022,\n                },\n              },\n              metadata: \u0022Customer ID 123456\u0022,\n              massUnit: \u0022lb\u0022,\n              weight: \u00221\u0022,\n              distanceUnit: \u0022in\u0022,\n              height: \u00221\u0022,\n              length: \u00221\u0022,\n              width: \u00221\u0022,\n            },\n          ],\n        },\n      },\n    ],\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"php","label":"PHP","source":"declare(strict_types=1);\n\nrequire \u0027vendor/autoload.php\u0027;\n\nuse Shippo\\API;\nuse Shippo\\API\\Models\\Components;\n\n$sdk = API\\Shippo::builder()\n    -\u003EsetSecurity(\n        \u0027ShippoToken \u003CAPI_TOKEN\u003E\u0027\n    )\n    -\u003EsetShippoApiVersion(\u00272018-02-08\u0027)\n    -\u003Ebuild();\n\n$batchCreateRequest = new Components\\BatchCreateRequest(\n    defaultCarrierAccount: \u0027078870331023437cb917f5187429b093\u0027,\n    defaultServicelevelToken: \u0027usps_priority\u0027,\n    labelFiletype: Components\\LabelFileTypeEnum::PDF4x6,\n    metadata: \u0027BATCH #1\u0027,\n    batchShipments: [\n        new Components\\BatchShipmentCreateRequest(\n            carrierAccount: \u0027a4391cd4ab974f478f55dc08b5c8e3b3\u0027,\n            metadata: \u0027SHIPMENT #1\u0027,\n            servicelevelToken: \u0027fedex_ground\u0027,\n            shipment: new Components\\ShipmentCreateRequest(\n                extra: new Components\\ShipmentExtra(\n                    accountsReceivableCustomerAccount: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    appropriationNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    billOfLadingNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    cod: new Components\\Cod(\n                        amount: \u00275.5\u0027,\n                        currency: \u0027USD\u0027,\n                        paymentMethod: Components\\PaymentMethod::Cash,\n                    ),\n                    codNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    customerReference: new Components\\CustomerReference(\n                        refSort: 1,\n                    ),\n                    dealerOrderNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    deptNumber: new Components\\DepartmentNumber(\n                        refSort: 3,\n                    ),\n                    fdaProductCode: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    insurance: new Components\\Insurance(\n                        amount: \u00275.5\u0027,\n                        currency: \u0027USD\u0027,\n                    ),\n                    invoiceNumber: new Components\\InvoiceNumber(\n                        refSort: 2,\n                    ),\n                    manifestNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    modelNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    partNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    poNumber: new Components\\PoNumber(\n                        refSort: 2,\n                    ),\n                    productionCode: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    purchaseRequestNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    rmaNumber: new Components\\RmaNumber(\n                        refSort: 1,\n                    ),\n                    salespersonNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    serialNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    storeNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                    transactionReferenceNumber: new Components\\UPSReferenceFields(\n                        prefix: \u0027ABC\u0027,\n                        value: \u0027value\u0027,\n                        refSort: 1,\n                    ),\n                ),\n                metadata: \u0027Customer ID 123456\u0027,\n                shipmentDate: \u00272021-03-22T12:00:00Z\u0027,\n                addressFrom: new Components\\AddressCreateRequest(\n                    name: \u0027Shwan Ippotle\u0027,\n                    company: \u0027Shippo\u0027,\n                    street1: \u0027215 Clayton St.\u0027,\n                    street3: \u0027\u0027,\n                    streetNo: \u0027\u0027,\n                    city: \u0027San Francisco\u0027,\n                    state: \u0027CA\u0027,\n                    zip: \u002794117\u0027,\n                    country: \u0027US\u0027,\n                    phone: \u0027\u002B1 555 341 9393\u0027,\n                    email: \u0027shippotle@shippo.com\u0027,\n                    isResidential: true,\n                    metadata: \u0027Customer ID 123456\u0027,\n                    validate: true,\n                ),\n                addressReturn: \u0027d799c2679e644279b59fe661ac8fa488\u0027,\n                addressTo: new Components\\AddressCreateRequest(\n                    name: \u0027Shwan Ippotle\u0027,\n                    company: \u0027Shippo\u0027,\n                    street1: \u0027215 Clayton St.\u0027,\n                    street3: \u0027\u0027,\n                    streetNo: \u0027\u0027,\n                    city: \u0027San Francisco\u0027,\n                    state: \u0027CA\u0027,\n                    zip: \u002794117\u0027,\n                    country: \u0027US\u0027,\n                    phone: \u0027\u002B1 555 341 9393\u0027,\n                    email: \u0027shippotle@shippo.com\u0027,\n                    isResidential: true,\n                    metadata: \u0027Customer ID 123456\u0027,\n                    validate: true,\n                ),\n                customsDeclaration: new Components\\CustomsDeclarationCreateRequest(\n                    b13aFilingOption: Components\\CustomsDeclarationB13AFilingOptionEnum::FiledElectronically,\n                    certify: true,\n                    certifySigner: \u0027Shawn Ippotle\u0027,\n                    contentsExplanation: \u0027T-Shirt purchase\u0027,\n                    dutiesPayor: new Components\\DutiesPayor(\n                        account: \u00272323434543\u0027,\n                        type: Components\\CustomsDeclarationCreateRequestType::ThirdParty,\n                        address: new Components\\CustomsDeclarationCreateRequestAddress(\n                            name: \u0027Patrick Kavanagh\u0027,\n                            zip: \u002780331\u0027,\n                            country: \u0027DE\u0027,\n                        ),\n                    ),\n                    exporterIdentification: new Components\\CustomsExporterIdentification(\n                        eoriNumber: \u0027PL123456790ABCDE\u0027,\n                        taxId: new Components\\CustomsTaxIdentification(\n                            number: \u0027123456789\u0027,\n                            type: Components\\CustomsTaxIdentificationType::Ein,\n                        ),\n                    ),\n                    invoice: \u0027#123123\u0027,\n                    metadata: \u0027Order ID #123123\u0027,\n                    addressImporter: new Components\\AddressImporter(\n                        name: \u0027Shwan Ippotle\u0027,\n                        company: \u0027Shippo\u0027,\n                        street1: \u0027Blumenstra\u00DFe\u0027,\n                        street3: \u0027\u0027,\n                        streetNo: \u002722\u0027,\n                        city: \u0027M\u00FCnchen\u0027,\n                        state: \u0027CA\u0027,\n                        zip: \u002780331\u0027,\n                        country: \u0027DE\u0027,\n                        phone: \u002780331\u0027,\n                        email: \u0027shippotle@shippo.com\u0027,\n                        isResidential: true,\n                    ),\n                    contentsType: Components\\CustomsDeclarationContentsTypeEnum::Merchandise,\n                    eelPfc: Components\\CustomsDeclarationEelPfcEnum::NOEEI3037A,\n                    incoterm: Components\\CustomsDeclarationIncotermEnum::Ddp,\n                    items: [\n                        new Components\\CustomsItemCreateRequest(\n                            description: \u0027T-Shirt\u0027,\n                            massUnit: Components\\WeightUnitEnum::Lb,\n                            metadata: \u0027Order ID \u0022123454\u0022\u0027,\n                            netWeight: \u00275\u0027,\n                            originCountry: \u0027\u003Cvalue\u003E\u0027,\n                            quantity: 20,\n                            skuCode: \u0027HM-123\u0027,\n                            hsCode: \u00270901.21\u0027,\n                            valueAmount: \u0027200\u0027,\n                            valueCurrency: \u0027USD\u0027,\n                        ),\n                    ],\n                    nonDeliveryOption: Components\\CustomsDeclarationNonDeliveryOptionEnum::Return,\n                    test: true,\n                ),\n                carrierAccounts: [\n                    \u0027065a4a8c10d24a34ab932163a1b87f52\u0027,\n                    \u002773f706f4bdb94b54a337563840ce52b0\u0027,\n                ],\n                parcels: [\n                    new Components\\ParcelCreateRequest(\n                        extra: new Components\\ParcelExtra(\n                            cod: new Components\\Cod(\n                                amount: \u00275.5\u0027,\n                                currency: \u0027USD\u0027,\n                                paymentMethod: Components\\PaymentMethod::Cash,\n                            ),\n                            insurance: new Components\\ParcelInsurance(\n                                amount: \u00275.5\u0027,\n                                content: \u0027Laptop\u0027,\n                                currency: \u0027USD\u0027,\n                                provider: Components\\ParcelInsuranceProvider::Ups,\n                            ),\n                        ),\n                        metadata: \u0027Customer ID 123456\u0027,\n                        massUnit: Components\\WeightUnitEnum::Lb,\n                        weight: \u00271\u0027,\n                        distanceUnit: Components\\DistanceUnitEnum::In,\n                        height: \u00271\u0027,\n                        length: \u00271\u0027,\n                        width: \u00271\u0027,\n                    ),\n                ],\n            ),\n        ),\n    ],\n);\n\n$response = $sdk-\u003Ebatches-\u003Ecreate(\n    batchCreateRequest: $batchCreateRequest,\n    shippoApiVersion: \u00272018-02-08\u0027\n\n);\n\nif ($response-\u003Ebatch !== null) {\n    // handle response\n}"},{"lang":"csharp","label":"C#","source":"using Shippo;\nusing Shippo.Models.Components;\nusing System.Collections.Generic;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \u0022ShippoToken \u003CAPI_TOKEN\u003E\u0022,\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\nvar res = await sdk.Batches.CreateAsync(\n    batchCreateRequest: new BatchCreateRequest() {\n        DefaultCarrierAccount = \u0022078870331023437cb917f5187429b093\u0022,\n        DefaultServicelevelToken = \u0022usps_priority\u0022,\n        LabelFiletype = LabelFileTypeEnum.Pdf4x6,\n        Metadata = \u0022BATCH #1\u0022,\n        BatchShipments = new List\u003CBatchShipmentCreateRequest\u003E() {\n            new BatchShipmentCreateRequest() {\n                CarrierAccount = \u0022a4391cd4ab974f478f55dc08b5c8e3b3\u0022,\n                Metadata = \u0022SHIPMENT #1\u0022,\n                ServicelevelToken = \u0022fedex_ground\u0022,\n                Shipment = new ShipmentCreateRequest() {\n                    Extra = new ShipmentExtra() {\n                        AccountsReceivableCustomerAccount = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        AppropriationNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        BillOfLadingNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        Cod = new Cod() {\n                            Amount = \u00225.5\u0022,\n                            Currency = \u0022USD\u0022,\n                            PaymentMethod = PaymentMethod.Cash,\n                        },\n                        CodNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        CustomerReference = new CustomerReference() {\n                            RefSort = 1,\n                        },\n                        DealerOrderNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        DeptNumber = new DepartmentNumber() {\n                            RefSort = 3,\n                        },\n                        FdaProductCode = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        Insurance = new Insurance() {\n                            Amount = \u00225.5\u0022,\n                            Currency = \u0022USD\u0022,\n                        },\n                        InvoiceNumber = new InvoiceNumber() {\n                            RefSort = 2,\n                        },\n                        ManifestNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        ModelNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        PartNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        PoNumber = new PoNumber() {\n                            RefSort = 2,\n                        },\n                        ProductionCode = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        PurchaseRequestNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        RmaNumber = new RmaNumber() {\n                            RefSort = 1,\n                        },\n                        SalespersonNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        SerialNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        StoreNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                        TransactionReferenceNumber = new UPSReferenceFields() {\n                            Prefix = \u0022ABC\u0022,\n                            Value = \u0022value\u0022,\n                            RefSort = 1,\n                        },\n                    },\n                    Metadata = \u0022Customer ID 123456\u0022,\n                    ShipmentDate = \u00222021-03-22T12:00:00Z\u0022,\n                    AddressFrom = AddressFrom.CreateAddressCreateRequest(\n                        new AddressCreateRequest() {\n                            Name = \u0022Shwan Ippotle\u0022,\n                            Company = \u0022Shippo\u0022,\n                            Street1 = \u0022215 Clayton St.\u0022,\n                            Street3 = \u0022\u0022,\n                            StreetNo = \u0022\u0022,\n                            City = \u0022San Francisco\u0022,\n                            State = \u0022CA\u0022,\n                            Zip = \u002294117\u0022,\n                            Country = \u0022US\u0022,\n                            Phone = \u0022\u002B1 555 341 9393\u0022,\n                            Email = \u0022shippotle@shippo.com\u0022,\n                            IsResidential = true,\n                            Metadata = \u0022Customer ID 123456\u0022,\n                            Validate = true,\n                        }\n                    ),\n                    AddressReturn = AddressReturn.CreateStr(\n                        \u0022d799c2679e644279b59fe661ac8fa488\u0022\n                    ),\n                    AddressTo = AddressTo.CreateAddressCreateRequest(\n                        new AddressCreateRequest() {\n                            Name = \u0022Shwan Ippotle\u0022,\n                            Company = \u0022Shippo\u0022,\n                            Street1 = \u0022215 Clayton St.\u0022,\n                            Street3 = \u0022\u0022,\n                            StreetNo = \u0022\u0022,\n                            City = \u0022San Francisco\u0022,\n                            State = \u0022CA\u0022,\n                            Zip = \u002294117\u0022,\n                            Country = \u0022US\u0022,\n                            Phone = \u0022\u002B1 555 341 9393\u0022,\n                            Email = \u0022shippotle@shippo.com\u0022,\n                            IsResidential = true,\n                            Metadata = \u0022Customer ID 123456\u0022,\n                            Validate = true,\n                        }\n                    ),\n                    CustomsDeclaration = ShipmentCreateRequestCustomsDeclaration.CreateCustomsDeclarationCreateRequest(\n                        new CustomsDeclarationCreateRequest() {\n                            B13aFilingOption = CustomsDeclarationB13AFilingOptionEnum.FiledElectronically,\n                            Certify = true,\n                            CertifySigner = \u0022Shawn Ippotle\u0022,\n                            ContentsExplanation = \u0022T-Shirt purchase\u0022,\n                            DutiesPayor = new DutiesPayor() {\n                                Account = \u00222323434543\u0022,\n                                Type = CustomsDeclarationCreateRequestType.ThirdParty,\n                                Address = new CustomsDeclarationCreateRequestAddress() {\n                                    Name = \u0022Patrick Kavanagh\u0022,\n                                    Zip = \u002280331\u0022,\n                                    Country = \u0022DE\u0022,\n                                },\n                            },\n                            ExporterIdentification = new CustomsExporterIdentification() {\n                                EoriNumber = \u0022PL123456790ABCDE\u0022,\n                                TaxId = new CustomsTaxIdentification() {\n                                    Number = \u0022123456789\u0022,\n                                    Type = CustomsTaxIdentificationType.Ein,\n                                },\n                            },\n                            Invoice = \u0022#123123\u0022,\n                            Metadata = \u0022Order ID #123123\u0022,\n                            AddressImporter = new AddressImporter() {\n                                Name = \u0022Shwan Ippotle\u0022,\n                                Company = \u0022Shippo\u0022,\n                                Street1 = \u0022Blumenstra\u00DFe\u0022,\n                                Street3 = \u0022\u0022,\n                                StreetNo = \u002222\u0022,\n                                City = \u0022M\u00FCnchen\u0022,\n                                State = \u0022CA\u0022,\n                                Zip = \u002280331\u0022,\n                                Country = \u0022DE\u0022,\n                                Phone = \u002280331\u0022,\n                                Email = \u0022shippotle@shippo.com\u0022,\n                                IsResidential = true,\n                            },\n                            ContentsType = CustomsDeclarationContentsTypeEnum.Merchandise,\n                            EelPfc = CustomsDeclarationEelPfcEnum.Noeei3037A,\n                            Incoterm = CustomsDeclarationIncotermEnum.Ddp,\n                            Items = new List\u003CCustomsItemCreateRequest\u003E() {\n                                new CustomsItemCreateRequest() {\n                                    Description = \u0022T-Shirt\u0022,\n                                    MassUnit = WeightUnitEnum.Lb,\n                                    Metadata = \u0022Order ID \\\u0022123454\\\u0022\u0022,\n                                    NetWeight = \u00225\u0022,\n                                    OriginCountry = \u0022\u003Cvalue\u003E\u0022,\n                                    Quantity = 20,\n                                    SkuCode = \u0022HM-123\u0022,\n                                    HsCode = \u00220901.21\u0022,\n                                    ValueAmount = \u0022200\u0022,\n                                    ValueCurrency = \u0022USD\u0022,\n                                },\n                            },\n                            NonDeliveryOption = CustomsDeclarationNonDeliveryOptionEnum.Return,\n                            Test = true,\n                        }\n                    ),\n                    CarrierAccounts = new List\u003Cstring\u003E() {\n                        \u0022065a4a8c10d24a34ab932163a1b87f52\u0022,\n                        \u002273f706f4bdb94b54a337563840ce52b0\u0022,\n                    },\n                    Parcels = new List\u003CModels.Components.Parcels\u003E() {\n                        Parcels.CreateParcelCreateRequest(\n                            new ParcelCreateRequest() {\n                                Extra = new ParcelExtra() {\n                                    Cod = new Cod() {\n                                        Amount = \u00225.5\u0022,\n                                        Currency = \u0022USD\u0022,\n                                        PaymentMethod = PaymentMethod.Cash,\n                                    },\n                                    Insurance = new ParcelInsurance() {\n                                        Amount = \u00225.5\u0022,\n                                        Content = \u0022Laptop\u0022,\n                                        Currency = \u0022USD\u0022,\n                                        Provider = ParcelInsuranceProvider.Ups,\n                                    },\n                                },\n                                Metadata = \u0022Customer ID 123456\u0022,\n                                MassUnit = WeightUnitEnum.Lb,\n                                Weight = \u00221\u0022,\n                                DistanceUnit = DistanceUnitEnum.In,\n                                Height = \u00221\u0022,\n                                Length = \u00221\u0022,\n                                Width = \u00221\u0022,\n                            }\n                        ),\n                    },\n                },\n            },\n        },\n    },\n    shippoApiVersion: \u00222018-02-08\u0022\n);\n\n// handle response"},{"lang":"java","label":"Java","source":"package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.components.AddressCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.AddressFrom;\nimport com.goshippo.shippo_sdk.models.components.AddressImporter;\nimport com.goshippo.shippo_sdk.models.components.AddressReturn;\nimport com.goshippo.shippo_sdk.models.components.AddressTo;\nimport com.goshippo.shippo_sdk.models.components.BatchCreateRequest;\nimport com.goshippo.shippo_sd
[...]
